In [1]:
import math

print(dir(math))

['__doc__', '__name__', '__package__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'hypot', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'modf', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

In [2]:
!ls /

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
%pwd

u'C:\\Users\\Ritesh Agarwal'

In [4]:
cd Citrix

C:\Users\Ritesh Agarwal\Citrix

In [5]:
%pwd

u'C:\\Users\\Ritesh Agarwal\\Citrix'

In [6]:
cd ..

C:\Users\Ritesh Agarwal

In [7]:
%pwd

u'C:\\Users\\Ritesh Agarwal'

In [8]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x[, base])

    Return the logarithm of x to the given base.
    If the base not specified, returns the natural logarithm (base e) of x.

In [9]:
help(math)

Help on built-in module math:

NAME
    math

FILE
    (built-in)

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as a float.
        This is the smallest integral value >= x.

    copysign(...)
        copysign(x, y)

        Return x with the sign of y.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as a float.
        This is the largest integral value <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isinf(...)
        isinf(x) -> bool

        Check if float x is infinite (positive or negative).

    isnan(...)
        isnan(x) -> bool

        Check if float x is not a number (NaN).

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    pi = 3.141592653589793

In [13]:
print 'The first four digits of pi are '+ str(3.142)

The first four digits of pi are 3.142

In [14]:
print 'the first four digits of pi are {}'.format(3.142)

the first four digits of pi are 3.142

In [17]:
 print 'the first four digits of pi are {} and the value of e is {}'.format(3.142,2.73)

the first four digits of pi are 3.142 and the value of e is 2.73

In [20]:
i =1
print isinstance (i,int)

True

In [22]:
x=4.3
print isinstance (x, int)

False

In [28]:
print type(i) == int
print type(x) == float

True
True

In [33]:
b1 = True
type(b1)

bool

In [32]:
b1 = True
b2 = False

type(b1)

bool

In [35]:
comp=1.0 - 1.0j
type(comp)

complex

In [37]:
print(comp.real, comp.imag)

(1.0, -1.0)

In [43]:
x=1.0
print isinstance(x,float)
print type(x) == float
print type(x) is float

True
True
True

In [45]:
y=13.8
print (y, type(y))

(13.8, <type 'float'>)

In [46]:
y=int(y)
print(y,type(y))

(13, <type 'int'>)

In [47]:
z=16
z=float(z)
print(z)

16.0

In [63]:
z1=complex(y)
print(z1, type(z1))

((13+0j), <type 'complex'>)

In [60]:
z1=int(z1.real)
print(z1)

13

In [64]:
z2=bool(z1.real)
print (z1.real,z2,type(z2))

(13.0, True, <type 'bool'>)

In [65]:
z3=bool(z1.imag)
print (z1.imag,z3, type(z3))

(0.0, False, <type 'bool'>)

In [66]:
3//2

1

In [67]:
3/2

1

In [68]:
1/2

0

In [69]:
1.0/2

0.5

In [70]:
1//2

0

In [71]:
1.0//2

0.0

In [2]:
s1= "this is my school"
print(s1)

this is my school

In [6]:
print (s1 + " " )* 5

this is my school this is my school this is my school this is my school this is my school

In [12]:
s1= "value1 = %.2f, value2 = %d" %(3.142,1.5)
print s1

value1 = 3.14, value2 = 1

In [15]:
s2= 'value1={},value2={}'.format(3.142,10)
print(s2)

value1=10,value2=3.142

In [17]:
s2= "value1={1}, value2={0}".format(3.142,10)
print(s2)

value1=10, value2=3.142

In [25]:

l=list(range(10,20,2))
print l

[10, 12, 14, 16, 18]

In [20]:
type(range(10,20,2))

list

In [28]:
l.reverse()
print(l)
l.sort()
print(l)

[18, 16, 14, 12, 10]
[10, 12, 14, 16, 18]

In [6]:
t1=set([1,3,5,7,'a','r','c'])
t1

{1, 3, 5, 7, 'a', 'c', 'r'}

In [7]:
t1.add(2)
t1.add('d')

In [8]:
t1

{1, 2, 3, 5, 7, 'a', 'c', 'd', 'r'}

In [9]:
t1.union(['r','f','w'])

{1, 2, 3, 5, 7, 'a', 'c', 'd', 'f', 'r', 'w'}

In [10]:
t1.intersection([1,2,3,4,'a'])

{1, 2, 3, 'a'}

In [11]:
t2=set([1,2,6,7,'b','d'])

In [13]:
t1.union(t2)

{1, 2, 3, 5, 6, 7, 'a', 'b', 'c', 'd', 'r'}

In [14]:
t1.intersection(t2)

{1, 2, 7, 'd'}

In [25]:
x=4
if x//3==0:
    print ("stmt1 s true")
elif x%3==0:
    print ("stmt2is true")
else:
    print ("both statements are incorrect")

both statements are incorrect

In [19]:
stmt1=False
stmt2=False

if stmt1:
    print("stmt1 is true")
elif stmt2:
    print("stmt2 is true")
else:
    print("stmt1 and stmt2 are false")

stmt1 and stmt2 are false

In [61]:
age=30
if (age>10) | (age<40):
    print("young")
else:
    print("baby")

young

In [67]:
age=3
if age>10 or age<40:
    print("young")
else:
    print("baby")

young

In [40]:
"Adult" if (age>10) else "baby"

'baby'

In [69]:
"Adult" if (age>10) else "baby" if (age<5) else "young"

'baby'

In [65]:
age=3
if age>10 and age<40:
    print("young")
else:
    print("baby")

baby

In [70]:
"yes value" if (condition) else "yes value" if (condition) else "value"

NameError: name 'condition' is not defined

In [71]:
name='Joe'
if name=='chandra':
        print"names matched"
else:
        print"not matched"

not matched

In [74]:
x=1
y=3
if x==1:
    if y==2:
        print "statements are correct"
    else:
        print "y criteria not matched"
else:
    print "both criteria not matched"

y criteria not matched

In [75]:
#repeat a process for known no. of times ---for loop--always happens(iterates) over a list
#repeat a process for till a condition is met --  while loop

In [79]:
for x in (range (4)):
    print(x)
    print(x**2)
    print "done loop no " + str(x)

0
0
done loop no 0
1
1
done loop no 1
2
4
done loop no 2
3
9
done loop no 3

In [78]:
for x in [1,2,3,4]:
    print(x)

1
2
3
4

In [80]:
for y in list("abcd"):
    print(y)

a
b
c
d

In [81]:
#range --all integers
#arange -- will give decimal numbers as well ..function inside numpy package
#linspace --equidistant cuts in given range..just specify how many cuts u want --part of numpy package

In [6]:
s1="i love analytics"
s1

'i love analytics'

In [7]:
s2=s1.split()
s2

['i', 'love', 'analytics']

In [5]:
" ".join(s2)

'i love analytics'

In [8]:
for s3 in s2:
    print(s3)

i
love
analytics

In [87]:
c1=list("abcd")
c1

['a', 'b', 'c', 'd']

In [91]:
c1=list(["abcd"])
c1

['abcd']

In [9]:
i=0
while i<5:
    print (i)
    i+=2
print("done")

0
2
4
done

In [10]:
def abc(a):
    v=a**2

In [21]:
l1=range(2000,3201)
l2=[]
for x in l1:
    if (x%7==0) & (x%5!=0):
        l2.append(x)
print l2

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [22]:
def abc(x):
    y=x**2+x*2+4
    return y

In [24]:
abc(2)

12

In [27]:
def func_len(s):
    """
    Print a string and its total length
    """
    print (s + " has " + str(len(s)) + " length")

In [29]:
func_len("test")

test has 4 length

In [30]:
func_len?

In [31]:
help(func_len)

Help on function func_len in module __main__:

func_len(s)
    Print a string and its total length

In [32]:
range(8,1,-1)

[8, 7, 6, 5, 4, 3, 2]

In [33]:
def func_def(x,y=3):
    return x+y,x*3

In [36]:
func_def(2,2)

(4, 6)

In [38]:
def myfunc(x,p=2,debug=False):
    if debug:
        print ("evaluating myfunc for x= " +str(x) + " using exponent p = " +str(p))
    return x**p

In [39]:
myfunc(4,3,True)

evaluating myfunc for x= 4 using exponent p = 3

64

In [40]:
myfunc(5)

25

In [41]:
def func_square(x):
    """
    Return square of a value x
    """
    return x**2

In [42]:
func_square(4)

16

In [43]:
def func_powers(x):
    """
    return powers od variable x
    """
    return x**2,x**3,x**4

In [44]:
func_powers(5)

(25, 125, 625)

In [47]:
f1=lambda x:x**2

def f2(x):
    return x**2

In [48]:
f1(2),f2(2)

(4, 4)

In [49]:
map(lambda x:x**2,[1,2,15,16])

[1, 4, 225, 256]

In [51]:
list(map(lambda x:x**2,range(-3,6)))

[9, 4, 1, 0, 1, 4, 9, 16, 25]

In [53]:
map(lambda x:x%2==0,range(8))

[True, False, True, False, True, False, True, False]

filter(lambda x:x%2==0,range(8))

In [54]:
filter(lambda x:x%2==0,range(8))

[0, 2, 4, 6]

In [1]:
f1=lambda x:x**2
f1(2)

4

In [5]:
map(lambda x:x**2,range(2,10,2))

[4, 16, 36, 64]

In [6]:
map(lambda x:x%2==0, range(8))

[True, False, True, False, True, False, True, False]

In [7]:
filter(lambda x:x%2==0, range(8))

[0, 2, 4, 6]

In [10]:
map(lambda x:x**2,range(2,10,2)) #willl return list as output

[4, 16, 36, 64]

In [11]:
import functools

In [18]:
x= functools.reduce(lambda x,y:x**y,[2,1,3,4]) #reduce will return a single value as output
x

4096

In [15]:
print (x)

120

In [20]:
filter(lambda x:x%2!=0,range(10))

[1, 3, 5, 7, 9]

In [7]:
seq1=list('abcde')
seq2=range(10,0,-1)
print(seq1)
print(seq2)
print(len(seq2)==len(seq1))

['a', 'b', 'c', 'd', 'e']
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
False

In [2]:
zip(seq1,seq2)

[('a', 10), ('b', 9), ('c', 8), ('d', 7), ('e', 6)]

In [3]:
list(zip([1,2,3,4,5],(9,8,7,6,5),['a','b','c','d','e']))

[(1, 9, 'a'), (2, 8, 'b'), (3, 7, 'c'), (4, 6, 'd'), (5, 5, 'e')]

In [15]:
zip_list = []
for x in range(5):
    zip_list.append((seq1[x],seq2[x]))
print(seq1)
print(seq2)
print(zip_list)

['a', 'b', 'c', 'd', 'e']
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[('a', 10), ('b', 9), ('c', 8), ('d', 7), ('e', 6)]

In [20]:
for i,j in enumerate(range(5)):
    if i%2 == 0:
        print(j),

0 2 4

In [17]:
str1='I love analytix'

In [19]:
for i,j in enumerate(str1):
    if i%2 == 0:
        print(j),

I l v   n l t x

In [21]:
for i in range(len(str1)):
    if i%2 == 0:
        print (str1[i]),

I l v   n l t x

In [26]:
try:
    print ("test")
    f=10/0
except ZeroDivisionError as e:
    print ("zero division: " + str(e))
except Exception as e:
    print ("caught an exception: " + str(e))
else:
    print ("Success")
finally:
    print ("all done")

test
zero division: integer division or modulo by zero
all done

In [11]:
p1='Abc123'

In [12]:
re.search(r"[a-z]", p1

SyntaxError: unexpected EOF while parsing (<ipython-input-12-a1320e2384a9>, line 1)

In [13]:
import re

In [18]:
re.search("[_@$]", p1)

In [19]:
print(abs.__doc__)

abs(number) -> number

Return the absolute value of the argument.

In [ ]:
#Very good with large numbers, linear algebra

In [2]:
import numpy as np

In [2]:
print(dir(np))

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'PackageLoader', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '__NUMPY_SETUP__', '__all__', '__builtins__', '__config__', '__doc__', '__file__', '__git_revision__', '__name__', '__package__', '__path__', '__version__', '_distributor_init', '_globals', '_import_tools', '_mat', 'abs', 'absolute', 'absolute_import', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'add_newdocs', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'division', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbuffer', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'int_asbuffer', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'newbuffer', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'pkgload', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'print_function', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'pv', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'rank', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str_', 'string0', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode0', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

In [22]:
np.ndarray([4,3,2],dtype='int')

array([[[79,  0],
        [ 0,  0],
        [ 0,  0]],

       [[ 0,  0],
        [ 0,  0],
        [ 0,  0]],

       [[ 0,  0],
        [ 0,  0],
        [ 0,  0]],

       [[ 0,  0],
        [ 0,  0],
        [ 0,  0]]])

In [26]:
arr1=np.array([[1,2,3],[3,4,5],[6,7,8]],dtype='int64')
print(arr1)

[[1 2 3]
 [3 4 5]
 [6 7 8]]

In [27]:
arr1[2,2]

8

In [28]:
arr1[2:]

array([[6, 7, 8]], dtype=int64)

In [7]:
arr2=np.ndarray([2,3,3],dtype='float')
print(arr2)

[[[5.25836715e-316 5.25966832e-316 5.19554769e-316]
  [3.20092642e-316 5.11218459e-316 2.50946969e-316]
  [1.91332455e-316 1.51992300e-316 1.51992735e-316]]

 [[1.51993170e-316 1.51993604e-316 1.78020576e-306]
  [1.69119873e-306 2.22522868e-306 1.24611809e-306]
  [8.06632139e-308 1.60221208e-306 2.29178686e-312]]]

In [15]:
arr1=np.array([[1,2,3],[4,5,6],[7,8,9]],dtype='int64')
print(arr1)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [13]:
print(np.array([1,2,3],dtype='int64'))

[1 2 3]

In [16]:
arr1[2,2]

9

In [17]:
arr1[2:]

array([[7, 8, 9]], dtype=int64)

In [18]:
arr1[:2]

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [21]:
arr1[2,0:3]

array([7, 8, 9], dtype=int64)

In [22]:
arr1.dtype

dtype('int64')

In [23]:
type(arr1)

numpy.ndarray

In [24]:
type(arr2)

numpy.ndarray

In [26]:
arr1.shape

(3L, 3L)

In [27]:
arr1[0,]

array([1, 2, 3], dtype=int64)

In [28]:
arr1[,2]

SyntaxError: invalid syntax (<ipython-input-28-cabf5725ca0b>, line 1)

In [29]:
arr1[0,]

array([1, 2, 3], dtype=int64)

In [30]:
arr1[2,]

array([7, 8, 9], dtype=int64)

In [31]:
arr1[:,2]

array([3, 6, 9], dtype=int64)

In [32]:
arr1[2,0:3]

array([7, 8, 9], dtype=int64)

In [33]:
arr1.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]], dtype=int64)

In [34]:
arr1.shape

(3L, 3L)

In [35]:
arr1.size

9

In [37]:
arr1.trace()

15

In [38]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [39]:
arr1.sum()

45

In [40]:
arr1.mean()

5.0

In [41]:
arr1.nbytes

72

In [43]:
arr1.sort()
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [45]:
arr2=np.array([[9,4,3],[8,2,6],[5,1,8]],dtype='int64')
arr2

array([[9, 4, 3],
       [8, 2, 6],
       [5, 1, 8]], dtype=int64)

In [47]:
arr2.sort()
arr2

array([[3, 4, 9],
       [2, 6, 8],
       [1, 5, 8]], dtype=int64)

In [54]:
a=np.zeros((2,2),dtype='int64')
a

array([[0, 0],
       [0, 0]], dtype=int64)

In [60]:
b=np.ones((3,2))
b

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [62]:
c=np.eye(4)
c

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [67]:
d=np.full((3,3),4)
d

array([[4, 4, 4],
       [4, 4, 4],
       [4, 4, 4]])

In [73]:
e=np.random.random((2,2))
e

array([[0.41492093, 0.82536242],
       [0.30073479, 0.50502094]])

In [79]:
f=np.random.randint(50,size=(3,3))
f

array([[ 3, 32, 14],
       [45,  0, 32],
       [32, 14, 48]])

In [80]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [81]:
arr1>3

array([[False, False, False],
       [ True,  True,  True],
       [ True,  True,  True]])

In [84]:
arr1[arr1>3]

array([4, 5, 6, 7, 8, 9], dtype=int64)

In [96]:
arr2=np.array([range(5,11),range(11,17),range(17,23)],dtype='int64')
arr2

array([[ 5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22]], dtype=int64)

In [87]:
arr2[arr2>10]

array([11, 12, 13, 14, 15, 16, 17, 18, 19], dtype=int64)

In [97]:
arr2.shape

(3L, 6L)

In [98]:
d=np.reshape(arr2, (9,2))
d

array([[ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16],
       [17, 18],
       [19, 20],
       [21, 22]], dtype=int64)

In [100]:
arr2*5

array([[ 25,  30,  35,  40,  45,  50],
       [ 55,  60,  65,  70,  75,  80],
       [ 85,  90,  95, 100, 105, 110]], dtype=int64)

In [101]:
arr2

array([[ 5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22]], dtype=int64)

In [104]:
arr2[arr2%2==0]=10
arr2

array([[ 5, 10,  7, 10,  9, 10],
       [11, 10, 13, 10, 15, 10],
       [17, 10, 19, 10, 21, 10]], dtype=int64)

In [105]:
arr2[:,3]=0
arr2

array([[ 5, 10,  7,  0,  9, 10],
       [11, 10, 13,  0, 15, 10],
       [17, 10, 19,  0, 21, 10]], dtype=int64)

In [106]:
x=np.random.randint(50,size=(5,5))
y=np.random.randint(100,size=(5,5))

In [107]:
x

array([[ 3, 35,  4,  2, 11],
       [ 3, 25, 22, 21, 46],
       [17,  6,  8, 46, 14],
       [33, 16, 17, 27, 29],
       [46, 34, 45,  1, 29]])

In [108]:
y

array([[56, 70, 55, 33, 53],
       [ 0, 61, 59, 39, 37],
       [ 5,  1, 35, 22, 91],
       [24, 36, 34, 70, 38],
       [ 1, 36, 30,  7, 42]])

In [110]:
np.add(x,y)

array([[ 59, 105,  59,  35,  64],
       [  3,  86,  81,  60,  83],
       [ 22,   7,  43,  68, 105],
       [ 57,  52,  51,  97,  67],
       [ 47,  70,  75,   8,  71]])

In [111]:
x+y

array([[ 59, 105,  59,  35,  64],
       [  3,  86,  81,  60,  83],
       [ 22,   7,  43,  68, 105],
       [ 57,  52,  51,  97,  67],
       [ 47,  70,  75,   8,  71]])

In [112]:
np.subtract(x,y)

array([[-53, -35, -51, -31, -42],
       [  3, -36, -37, -18,   9],
       [ 12,   5, -27,  24, -77],
       [  9, -20, -17, -43,  -9],
       [ 45,  -2,  15,  -6, -13]])

In [113]:
y-x

array([[ 53,  35,  51,  31,  42],
       [ -3,  36,  37,  18,  -9],
       [-12,  -5,  27, -24,  77],
       [ -9,  20,  17,  43,   9],
       [-45,   2, -15,   6,  13]])

In [114]:
np.multiply(x,y)

array([[ 168, 2450,  220,   66,  583],
       [   0, 1525, 1298,  819, 1702],
       [  85,    6,  280, 1012, 1274],
       [ 792,  576,  578, 1890, 1102],
       [  46, 1224, 1350,    7, 1218]])

In [115]:
x/y

C:\Users\Ritesh Agarwal\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in divide
  """Entry point for launching an IPython kernel.

array([[ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  1],
       [ 3,  6,  0,  2,  0],
       [ 1,  0,  0,  0,  0],
       [46,  0,  1,  0,  0]])

In [116]:
y/x

array([[18,  2, 13, 16,  4],
       [ 0,  2,  2,  1,  0],
       [ 0,  0,  4,  0,  6],
       [ 0,  2,  2,  2,  1],
       [ 0,  1,  0,  7,  1]])

In [117]:
np.divide(y,x)

array([[18,  2, 13, 16,  4],
       [ 0,  2,  2,  1,  0],
       [ 0,  0,  4,  0,  6],
       [ 0,  2,  2,  2,  1],
       [ 0,  1,  0,  7,  1]])

In [118]:
x.T

array([[ 3,  3, 17, 33, 46],
       [35, 25,  6, 16, 34],
       [ 4, 22,  8, 17, 45],
       [ 2, 21, 46, 27,  1],
       [11, 46, 14, 29, 29]])

In [119]:
z=np.random.randint(40,size=(4,4))

In [120]:
z

array([[27, 16, 10, 27],
       [18, 24, 21, 33],
       [ 1, 16, 34, 11],
       [15, 13, 15, 35]])

In [121]:
print(z.sum(),z.mean(),z.std())

(316, 19.75, 9.290452088031023)

In [123]:
np.sum(z,axis=0)

array([ 61,  69,  80, 106])

In [124]:
 np.sum(z,axis=1)

array([80, 96, 62, 78])

In [125]:
z+[2,3,4,5]

array([[29, 19, 14, 32],
       [20, 27, 25, 38],
       [ 3, 19, 38, 16],
       [17, 16, 19, 40]])

In [126]:
z+[2,2,2]

ValueError: operands could not be broadcast together with shapes (4,4) (3,)

In [48]:
s=np.random.randint(20,size=(2,2))
t=np.random.randint(20,size=(2,2))

In [128]:
s

array([[ 8, 16],
       [15, 16]])

In [129]:
t

array([[ 6,  7],
       [ 7, 19]])

In [130]:
np.vstack([s,t])

array([[ 8, 16],
       [15, 16],
       [ 6,  7],
       [ 7, 19]])

In [131]:
np.hstack([s,t])

array([[ 8, 16,  6,  7],
       [15, 16,  7, 19]])

In [132]:
a=np.array([[2,2,3],[3,1,4],[4,3,0]])
b=np.array([5,7,10])

In [134]:
c=np.linalg.solve(a,b)

In [135]:
c

array([ 2.30434783,  0.26086957, -0.04347826])

In [136]:
a=np.array([[1,2],[3,4]])
np.linalg.inv(a)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.read_csv?

In [3]:
%pwd

u'C:\\Users\\Ritesh Agarwal'

In [2]:
cust_data=pd.read_csv("E:\\Data Science with Python\\DSP Class 4 files\\Cust_data.csv")
cust_demo=pd.read_csv("E:\\Data Science with Python\\DSP Class 4 files\\Cust_demo.csv")
cust_new=pd.read_csv("E:\\Data Science with Python\\DSP Class 4 files\\cust_new.csv")

In [5]:
cust_data.head(7)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0
5,89149,0,0.056599,0,1482.000000,NaN,5,0,1,0
6,140279,0,0.137483,0,0.019196,5000.0,5,0,0,0

In [6]:
cust_demo.head(5)

,ID,Location,Gender,age,Martial_Status,NumberOfDependents,Own_House,No_Years_address
0,4532,"Gandhinagar,Gujarat",0,39,Single,1.0,1,3
1,148736,"Hyderabad,Andhra Pradesh",0,52,Married,0.0,0,3
2,95965,"Shimla,Himachal Pradesh",0,62,Married,0.0,0,2
3,61759,"Srinagar,JK",0,42,Single,1.0,1,1
4,49806,"Imphal,Manipur",0,41,Single,1.0,0,3

In [7]:
cust_new.head(5)

,ID,Location,Gender,age,Martial_Status,NumberOfDependents,Own_House,No_Years_address
0,4532,"Gandhinagar,Gujarat",0,39,Single,1.0,1,3
1,148736,"Hyderabad,Andhra Pradesh",0,52,Married,0.0,0,3
2,95965,"Shimla,Himachal Pradesh",0,62,Married,0.0,0,2
3,61759,"Srinagar,JK",0,42,Single,1.0,1,1
4,49806,"Imphal,Manipur",0,41,Single,1.0,0,3

In [8]:
print(cust_data.head(5))

       ID  SeriousDlqin2yrs  RevolvingUtilization  No_of_30_59_DPD  DebtRatio  \
0   83236                 0              0.311726                0   0.296409
1    2503                 0              0.124988                0   0.115903
2  137013                 0              0.060258                0   0.515147
3   51306                 0              0.064322                0   0.165127
4   71937                 0              0.211186                0   0.022283

   MonthlyIncome  No_Of_OpenCreditLines  No_of_90_DPD  No_of_RealEstateLoans  \
0        11500.0                     12             0                      3
1        14166.0                     13             0                      1
2         6733.0                      7             0                      3
3        13316.0                     10             0                      1
4         2557.0                      3             0                      0

   No_of_60_89_DPD
0                0
1                0
2                0
3                0
4                0

In [9]:
cust_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149972 entries, 0 to 149971
Data columns (total 8 columns):
ID                    149972 non-null int64
Location              149972 non-null object
Gender                149972 non-null int64
age                   149972 non-null int64
Martial_Status        149972 non-null object
NumberOfDependents    146048 non-null float64
Own_House             149972 non-null int64
No_Years_address      149972 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 9.2+ MB

In [16]:
cust_demo.columns

Index([u'ID', u'Location', u'Gender', u'age', u'Martial_Status',
       u'NumberOfDependents', u'Own_House', u'No_Years_address'],
      dtype='object')

In [18]:
cust_demo.size

1199776

In [20]:
cust_demo.shape

(149972, 8)

In [22]:
cust_demo.size

1199776

In [23]:
cust_demo.dtypes

ID                      int64
Location               object
Gender                  int64
age                     int64
Martial_Status         object
NumberOfDependents    float64
Own_House               int64
No_Years_address        int64
dtype: object

In [24]:
cust_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149972 entries, 0 to 149971
Data columns (total 8 columns):
ID                    149972 non-null int64
Location              149972 non-null object
Gender                149972 non-null int64
age                   149972 non-null int64
Martial_Status        149972 non-null object
NumberOfDependents    146048 non-null float64
Own_House             149972 non-null int64
No_Years_address      149972 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 9.2+ MB

In [25]:
cust_demo.ftypes

ID                      int64:dense
Location               object:dense
Gender                  int64:dense
age                     int64:dense
Martial_Status         object:dense
NumberOfDependents    float64:dense
Own_House               int64:dense
No_Years_address        int64:dense
dtype: object

In [10]:
cust_demo.get_dtype_counts()

float64    1
int64      5
object     2
dtype: int64

In [11]:
cust_demo.count()

ID                    149972
Location              149972
Gender                149972
age                   149972
Martial_Status        149972
NumberOfDependents    146048
Own_House             149972
No_Years_address      149972
dtype: int64

In [12]:
cust_demo.memory_usage()

Index                      72
ID                    1199776
Location              1199776
Gender                1199776
age                   1199776
Martial_Status        1199776
NumberOfDependents    1199776
Own_House             1199776
No_Years_address      1199776
dtype: int64

In [13]:
cust_demo.ndim

2

In [14]:
cust_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149902 entries, 0 to 149901
Data columns (total 10 columns):
ID                       149902 non-null int64
SeriousDlqin2yrs         149902 non-null int64
RevolvingUtilization     149902 non-null float64
No_of_30_59_DPD          149902 non-null int64
DebtRatio                149902 non-null float64
MonthlyIncome            120191 non-null float64
No_Of_OpenCreditLines    149902 non-null int64
No_of_90_DPD             149902 non-null int64
No_of_RealEstateLoans    149902 non-null int64
No_of_60_89_DPD          149902 non-null int64
dtypes: float64(3), int64(7)
memory usage: 11.4 MB

In [16]:
cust_demo.select_dtypes(include=['floating']).head(5)

   NumberOfDependents
0                 1.0
1                 0.0
2                 0.0
3                 1.0
4                 1.0

In [17]:
cust_demo.select_dtypes(include=['object','floating']).head(5)

                   Location Martial_Status  NumberOfDependents
0       Gandhinagar,Gujarat         Single                 1.0
1  Hyderabad,Andhra Pradesh        Married                 0.0
2   Shimla,Himachal Pradesh        Married                 0.0
3               Srinagar,JK         Single                 1.0
4            Imphal,Manipur         Single                 1.0

In [18]:
cust_demo.select_dtypes(include=['number']).head(5)

       ID  Gender  age  NumberOfDependents  Own_House  No_Years_address
0    4532       0   39                 1.0          1                 3
1  148736       0   52                 0.0          0                 3
2   95965       0   62                 0.0          0                 2
3   61759       0   42                 1.0          1                 1
4   49806       0   41                 1.0          0                 3

In [19]:
cust_demo.select_dtypes(include=['category']).head(5)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [21]:
cust_demo.select_dtypes(include=None, exclude=None)

ValueError: at least one of include or exclude must be nonempty

In [23]:
cust_demo.select_dtypes(include=['number'],exclude=['floating']).head(10)

       ID  Gender  age  Own_House  No_Years_address
0    4532       0   39          1                 3
1  148736       0   52          0                 3
2   95965       0   62          0                 2
3   61759       0   42          1                 1
4   49806       0   41          0                 3
5  139942       0   59          0                 2
6  131136       0   37          1                 1
7   87969       1   63          0                 2
8  124554       0   59          0                 2
9   77997       1   55          1                 3

In [24]:
cust_demo.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,149972.0,75000.472535,43301.107017,1.0,37502.75,75000.5,112499.25,150000.0
Gender,149972.0,0.374990,0.484122,0.0,0.00,0.0,1.00,1.0
age,149972.0,52.295995,14.769655,0.0,41.00,52.0,63.00,109.0
NumberOfDependents,146048.0,0.757210,1.115002,0.0,0.00,0.0,1.00,20.0
Own_House,149972.0,0.399328,0.489762,0.0,0.00,0.0,1.00,1.0
No_Years_address,149972.0,2.002494,0.816564,1.0,1.00,2.0,3.00,3.0

In [25]:
cust_demo.describe()

,ID,Gender,age,NumberOfDependents,Own_House,No_Years_address
count,149972.000000,149972.000000,149972.000000,146048.000000,149972.000000,149972.000000
mean,75000.472535,0.374990,52.295995,0.757210,0.399328,2.002494
std,43301.107017,0.484122,14.769655,1.115002,0.489762,0.816564
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,37502.750000,0.000000,41.000000,0.000000,0.000000,1.000000
50%,75000.500000,0.000000,52.000000,0.000000,0.000000,2.000000
75%,112499.250000,1.000000,63.000000,1.000000,1.000000,3.000000
max,150000.000000,1.000000,109.000000,20.000000,1.000000,3.000000

In [9]:
cust_data.head(5)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,#30plusDPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0,0

In [27]:
cust_data.head(5)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0

In [29]:
cust_data[['ID','MonthlyIncome','DebtRatio']].head(5)

       ID  MonthlyIncome  DebtRatio
0   83236        11500.0   0.296409
1    2503        14166.0   0.115903
2  137013         6733.0   0.515147
3   51306        13316.0   0.165127
4   71937         2557.0   0.022283

In [31]:
cust_data.iloc[[0,1,2,3],[0,4,5]]

       ID  DebtRatio  MonthlyIncome
0   83236   0.296409        11500.0
1    2503   0.115903        14166.0
2  137013   0.515147         6733.0
3   51306   0.165127        13316.0

In [36]:
cust_data.iloc[:,:].head(4)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0

In [34]:
cust_data.iloc[0:5,:]

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0

In [32]:
cust_data.loc[[0,1,2,3,4],['ID','DebtRatio','MonthlyIncome']]

       ID  DebtRatio  MonthlyIncome
0   83236   0.296409        11500.0
1    2503   0.115903        14166.0
2  137013   0.515147         6733.0
3   51306   0.165127        13316.0
4   71937   0.022283         2557.0

In [39]:
cust_data[(cust_data.DebtRatio>0.5)&(cust_data.MonthlyIncome>11000)].head(3)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD
486,117861,0,0.012476,0,0.546141,11117.0,6,0,4,0
620,127711,0,0.705444,0,0.614847,11301.0,13,0,2,0
729,44191,0,0.092991,0,0.570959,11865.0,26,0,5,0

In [41]:
cust_demo.head(2)

,ID,Location,Gender,age,Martial_Status,NumberOfDependents,Own_House,No_Years_address
0,4532,"Gandhinagar,Gujarat",0,39,Single,1.0,1,3
1,148736,"Hyderabad,Andhra Pradesh",0,52,Married,0.0,0,3

In [45]:
d=cust_demo[cust_demo.select_dtypes(include=['object','floating'])['Martial_Status']=='Single'].head(4)
d

,ID,Location,Gender,age,Martial_Status,NumberOfDependents,Own_House,No_Years_address
0,4532,"Gandhinagar,Gujarat",0,39,Single,1.0,1,3
3,61759,"Srinagar,JK",0,42,Single,1.0,1,1
4,49806,"Imphal,Manipur",0,41,Single,1.0,0,3
5,139942,"Srinagar,JK",0,59,Single,0.0,0,2

In [46]:
np.matmul?

In [49]:
np.matmul(s,t)

array([[ 80, 141],
       [160, 117]])

In [50]:
type(cust_demo)

pandas.core.frame.DataFrame

In [55]:
 cust_demo[(cust_demo.age<40)&(cust_demo.Martial_Status=='Single')].head(4)

,ID,Location,Gender,age,Martial_Status,NumberOfDependents,Own_House,No_Years_address
0,4532,"Gandhinagar,Gujarat",0,39,Single,1.0,1,3
6,131136,"Aizawl,Mizoram",0,37,Single,3.0,1,1
12,603,"Raipur,Chhattisgarh",1,39,Single,1.0,0,3
16,146493,"Ranchi,Jharkhand",1,36,Single,1.0,1,1

In [3]:
cust_data['No_of_30plusDPD']=cust_data['No_of_30_59_DPD']+cust_data['No_of_60_89_DPD']+cust_data['No_of_90_DPD']

In [4]:
cust_data.head(3)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0

In [20]:
cust_data.drop('#30plusDPD',inplace=False,axis=1).head(4)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0

In [6]:
cust_data.assign(MonthlySavings=cust_data.MonthlyIncome*0.15).head(4)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,#30plusDPD,MonthlySavings
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0,1725.00
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0,2124.90
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0,1009.95
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0,0,1997.40

In [84]:
cust_data.head(3)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,#30plusDPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0

In [13]:
cust_data.drop('#30plusDPD',axis=1)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0
5,89149,0,0.056599,0,1482.000000,NaN,5,0,1,0
6,140279,0,0.137483,0,0.019196,5000.0,5,0,0,0
7,123541,0,0.285436,0,0.346093,7000.0,13,0,1,0
8,47756,0,0.086546,0,0.316799,11833.0,3,0,1,0
9,112237,0,0.031186,0,84.000000,NaN,10,0,0,0
10,131169,0,0.458751,0,0.193940,20000.0,8,0,1,0
11,144324,0,0.000000,0,0.321899,6150.0,6,0,2,0
12,99371,0,0.026069,0,0.666344,6200.0,10,0,2,0
13,59161,0,0.016346,0,0.318716,5700.0,9,0,1,0
14,112957,0,0.110651,0,104.000000,NaN,6,0,0,0
15,98354,0,0.373275,0,0.265298,7500.0,9,0,0,0
16,130663,0,0.555885,0,0.429633,3900.0,14,0,1,0
17,51766,0,0.704587,2,0.340236,7726.0,10,0,1,0
18,9220,0,0.095339,0,2504.000000,NaN,11,0,1,0
19,95035,0,0.180795,0,0.620613,10400.0,17,0,2,0
20,9176,0,0.095019,0,0.228749,26574.0,11,0,2,0
21,24776,0,1.000000,0,0.343131,1666.0,1,0,0,0
22,79941,0,0.035471,0,2113.000000,NaN,6,0,1,0
23,61372,0,0.083657,0,0.322436,7126.0,6,0,1,0
24,65420,0,0.878511,0,0.186163,5000.0,8,0,0,0
25,121381,0,0.015624,0,0.951605,10000.0,6,0,2,0
26,141661,0,0.027724,0,463.000000,NaN,6,0,0,0
27,96743,0,0.233248,0,0.306648,5083.0,21,0,2,0
28,42706,0,0.051414,0,2817.000000,NaN,7,0,1,0
29,33180,0,0.801806,0,0.694131,7002.0,15,0,1,0
...,...,...,...,...,...,...,...,...,...,...
149872,93458,0,0.357440,0,0.422429,1720.0,4,0,1,0
149873,86351,0,0.137310,0,2037.000000,NaN,6,0,1,0
149874,120514,0,0.531432,1,0.035707,4816.0,6,1,0,1
149875,118623,0,0.000000,1,0.925075,1000.0,3,0,1,0
149876,42735,0,0.000000,0,872.000000,NaN,10,0,0,0
149877,95078,0,0.029067,0,29.000000,NaN,6,0,0,0
149878,149587,0,0.053165,0,0.014398,4583.0,6,0,0,0
149879,33631,0,0.033751,0,0.441991,4800.0,21,0,1,0
149880,148621,0,0.090295,0,1766.000000,NaN,5,0,1,0
149881,101721,0,0.015640,0,0.330250,21083.0,14,0,2,0
149882,34096,0,0.033188,0,901.000000,NaN,3,0,1,0
149883,16469,0,0.237958,1,1264.000000,NaN,10,0,1,0
149884,14811,0,0.244482,0,0.299625,5606.0,12,0,2,0
149885,70355,0,0.108372,0,0.871026,3333.0,15,0,1,0
149886,129338,0,0.182157,0,0.221202,9583.0,5,0,1,0
149887,135236,0,0.100842,0,0.364622,2950.0,11,0,1,0
149888,4860,1,0.565975,0,0.682341,8165.0,10,1,3,0
149889,75627,0,0.269197,0,0.517733,5328.0,13,0,2,0
149890,82896,0,0.033720,0,0.139298,2648.0,6,0,0,0
149891,57985,0,0.007484,0,0.325743,3600.0,9,0,1,0
149892,71848,0,0.737660,0,0.552804,10500.0,9,0,1,0
149893,27711,0,0.159051,0,899.000000,0.0,6,0,1,0
149894,11855,0,0.000000,0,0.000000,NaN,2,0,0,0
149895,101446,0,0.113302,0,0.106318,16666.0,6,0,1,0
149896,132378,0,0.201519,0,0.008121,3693.0,2,0,0,0
149897,148580,1,1.000000,1,0.021124,2650.0,0,0,0,1
149898,93517,0,0.163864,0,1.276108,1962.0,9,0,1,0
149899,15481,0,0.031732,0,0.260058,10016.0,12,0,1,0
149900,50464,0,0.078050,0,0.569960,1750.0,10,0,2,0
149901,75766,0,0.075823,0,0.182163,12400.0,3,0,1,0

In [5]:
cust_data[cust_data.ID==59161]['No_of_30plusDPD']=10

C:\Users\Ritesh Agarwal\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
cust_data[cust_data.ID==59161]

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD
13,59161,0,0.016346,0,0.318716,5700.0,9,0,1,0,0

In [8]:
cust_data.rename(columns={'SeriousDlqin2yrs':'SeriousDlqin'}).head(4)

,ID,SeriousDlqin,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0,0

In [9]:
cust_demo[cust_demo.Gender==0]['Gender2']='Male'

C:\Users\Ritesh Agarwal\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
cust_demo['Gender2']=np.where(cust_demo.Gender==0,'Male','Female')

In [32]:
cust_demo.loc[cust_demo['Gender']==1].head(3)

,ID,Location,Gender,age,Martial_Status,NumberOfDependents,Own_House,No_Years_address,Gender2
7,87969,"Kohima,Nagaland",1,63,Married,1.0,0,2,Female
9,77997,"Srinagar,JK",1,55,Single,0.0,1,3,Female
12,603,"Raipur,Chhattisgarh",1,39,Single,1.0,0,3,Female

In [16]:
cust_demo.head(5)

,ID,Location,Gender,age,Martial_Status,NumberOfDependents,Own_House,No_Years_address,Gender2
0,4532,"Gandhinagar,Gujarat",0,39,Single,1.0,1,3,Male
1,148736,"Hyderabad,Andhra Pradesh",0,52,Married,0.0,0,3,Male
2,95965,"Shimla,Himachal Pradesh",0,62,Married,0.0,0,2,Male
3,61759,"Srinagar,JK",0,42,Single,1.0,1,1,Male
4,49806,"Imphal,Manipur",0,41,Single,1.0,0,3,Male

In [33]:
 cust_data.head(5)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0,0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0,0

In [35]:
cust_data.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,149902.0,74997.338901,43299.681645,1.0,37502.250000,74996.500000,112489.750000,150000.0
SeriousDlqin2yrs,149902.0,0.066830,0.249729,0.0,0.000000,0.000000,0.000000,1.0
RevolvingUtilization,149902.0,6.052146,249.836956,0.0,0.029861,0.154141,0.558978,50708.0
No_of_30_59_DPD,149902.0,0.421035,4.194063,0.0,0.000000,0.000000,0.000000,98.0
DebtRatio,149902.0,353.061246,2038.409681,0.0,0.175075,0.366516,0.868260,329664.0
MonthlyIncome,120191.0,6670.205356,14389.018567,0.0,3400.000000,5400.000000,8249.000000,3008750.0
No_Of_OpenCreditLines,149902.0,8.452689,5.145851,0.0,5.000000,8.000000,11.000000,58.0
No_of_90_DPD,149902.0,0.266074,4.170649,0.0,0.000000,0.000000,0.000000,98.0
No_of_RealEstateLoans,149902.0,1.018279,1.129839,0.0,0.000000,1.000000,2.000000,54.0
No_of_60_89_DPD,149902.0,0.240470,4.156528,0.0,0.000000,0.000000,0.000000,98.0
No_of_30plusDPD,149902.0,0.927579,12.470230,0.0,0.000000,0.000000,0.000000,294.0

In [39]:
pd.cut(cust_data['MonthlyIncome'],3,labels=['Group1','Group2','Group3'])

0         Group1
1         Group1
2         Group1
3         Group1
4         Group1
5            NaN
6         Group1
7         Group1
8         Group1
9            NaN
10        Group1
11        Group1
12        Group1
13        Group1
14           NaN
15        Group1
16        Group1
17        Group1
18           NaN
19        Group1
20        Group1
21        Group1
22           NaN
23        Group1
24        Group1
25        Group1
26           NaN
27        Group1
28           NaN
29        Group1
           ...
149872    Group1
149873       NaN
149874    Group1
149875    Group1
149876       NaN
149877       NaN
149878    Group1
149879    Group1
149880       NaN
149881    Group1
149882       NaN
149883       NaN
149884    Group1
149885    Group1
149886    Group1
149887    Group1
149888    Group1
149889    Group1
149890    Group1
149891    Group1
149892    Group1
149893    Group1
149894       NaN
149895    Group1
149896    Group1
149897    Group1
149898    Group1
149899    Group1
149900    Group1
149901    Group1
Name: MonthlyIncome, Length: 149902, dtype: category
Categories (3, object): [Group1 < Group2 < Group3]

In [40]:
pd.cut(cust_demo.age,4)

0           (27.25, 54.5]
1           (27.25, 54.5]
2           (54.5, 81.75]
3           (27.25, 54.5]
4           (27.25, 54.5]
5           (54.5, 81.75]
6           (27.25, 54.5]
7           (54.5, 81.75]
8           (54.5, 81.75]
9           (54.5, 81.75]
10          (27.25, 54.5]
11          (54.5, 81.75]
12          (27.25, 54.5]
13          (54.5, 81.75]
14          (54.5, 81.75]
15          (54.5, 81.75]
16          (27.25, 54.5]
17          (27.25, 54.5]
18          (27.25, 54.5]
19        (-0.109, 27.25]
20          (27.25, 54.5]
21          (54.5, 81.75]
22        (-0.109, 27.25]
23          (54.5, 81.75]
24          (54.5, 81.75]
25          (27.25, 54.5]
26          (27.25, 54.5]
27          (27.25, 54.5]
28          (27.25, 54.5]
29          (54.5, 81.75]
               ...
149942      (54.5, 81.75]
149943      (27.25, 54.5]
149944      (27.25, 54.5]
149945      (27.25, 54.5]
149946      (27.25, 54.5]
149947    (-0.109, 27.25]
149948      (27.25, 54.5]
149949      (27.25, 54.5]
149950      (54.5, 81.75]
149951      (27.25, 54.5]
149952      (27.25, 54.5]
149953      (27.25, 54.5]
149954      (27.25, 54.5]
149955      (54.5, 81.75]
149956      (54.5, 81.75]
149957      (27.25, 54.5]
149958      (54.5, 81.75]
149959      (27.25, 54.5]
149960      (27.25, 54.5]
149961      (27.25, 54.5]
149962      (27.25, 54.5]
149963    (-0.109, 27.25]
149964      (27.25, 54.5]
149965      (27.25, 54.5]
149966      (54.5, 81.75]
149967      (27.25, 54.5]
149968      (27.25, 54.5]
149969      (27.25, 54.5]
149970      (27.25, 54.5]
149971      (54.5, 81.75]
Name: age, Length: 149972, dtype: category
Categories (4, interval[float64]): [(-0.109, 27.25] < (27.25, 54.5] < (54.5, 81.75] < (81.75, 109.0]]

In [43]:
pd.cut(cust_data.MonthlyIncome,bins=[0,10000,20000,30000],labels=['Low','Medium','High'])

0         Medium
1         Medium
2            Low
3         Medium
4            Low
5            NaN
6            Low
7            Low
8         Medium
9            NaN
10        Medium
11           Low
12           Low
13           Low
14           NaN
15           Low
16           Low
17           Low
18           NaN
19        Medium
20          High
21           Low
22           NaN
23           Low
24           Low
25           Low
26           NaN
27           Low
28           NaN
29           Low
           ...
149872       Low
149873       NaN
149874       Low
149875       Low
149876       NaN
149877       NaN
149878       Low
149879       Low
149880       NaN
149881      High
149882       NaN
149883       NaN
149884       Low
149885       Low
149886       Low
149887       Low
149888       Low
149889       Low
149890       Low
149891       Low
149892    Medium
149893       NaN
149894       NaN
149895    Medium
149896       Low
149897       Low
149898       Low
149899    Medium
149900       Low
149901    Medium
Name: MonthlyIncome, Length: 149902, dtype: category
Categories (3, object): [Low < Medium < High]

In [44]:
cust_data['IncomeBuckets']=pd.cut(cust_data['MonthlyIncome'], 3, labels=['0to33', '34to66', '67to99'])[:10]

In [55]:
cust_data.head(10)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD,Income_Bucket
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0,"(10000, 20000]"
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0,"(10000, 20000]"
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0,"(0, 10000]"
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0,0,"(10000, 20000]"
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0,0,"(0, 10000]"
5,89149,0,0.056599,0,1482.000000,NaN,5,0,1,0,0,NaN
6,140279,0,0.137483,0,0.019196,5000.0,5,0,0,0,0,"(0, 10000]"
7,123541,0,0.285436,0,0.346093,7000.0,13,0,1,0,0,"(0, 10000]"
8,47756,0,0.086546,0,0.316799,11833.0,3,0,1,0,0,"(10000, 20000]"
9,112237,0,0.031186,0,84.000000,NaN,10,0,0,0,0,NaN

In [50]:
cust_data['MonthlyIncome'].describe()

count    1.201910e+05
mean     6.670205e+03
std      1.438902e+04
min      0.000000e+00
25%      3.400000e+03
50%      5.400000e+03
75%      8.249000e+03
max      3.008750e+06
Name: MonthlyIncome, dtype: float64

In [51]:
cust_data['Income_Bucket']=pd.cut(cust_data.MonthlyIncome,range(0,1000000,10000))

In [54]:
cust_data.drop('IncomeBuckets',inplace=True,axis=1)

In [57]:
cust_data['Income_Bucket'].value_counts()

(0, 10000]          100254
(10000, 20000]       16202
(20000, 30000]        1311
(30000, 40000]         343
(40000, 50000]         148
(50000, 60000]          80
(60000, 70000]          61
(70000, 80000]          44
(80000, 90000]          31
(90000, 100000]         15
(110000, 120000]         8
(120000, 130000]         8
(100000, 110000]         7
(140000, 150000]         6
(150000, 160000]         4
(230000, 240000]         4
(130000, 140000]         4
(160000, 170000]         2
(200000, 210000]         2
(240000, 250000]         2
(830000, 840000]         1
(260000, 270000]         1
(420000, 430000]         1
(400000, 410000]         1
(560000, 570000]         1
(580000, 590000]         1
(320000, 330000]         1
(300000, 310000]         1
(620000, 630000]         1
(280000, 290000]         1
                     ...
(910000, 920000]         0
(920000, 930000]         0
(930000, 940000]         0
(940000, 950000]         0
(950000, 960000]         0
(960000, 970000]         0
(760000, 770000]         0
(740000, 750000]         0
(460000, 470000]         0
(720000, 730000]         0
(470000, 480000]         0
(480000, 490000]         0
(970000, 980000]         0
(500000, 510000]         0
(510000, 520000]         0
(520000, 530000]         0
(530000, 540000]         0
(540000, 550000]         0
(550000, 560000]         0
(570000, 580000]         0
(590000, 600000]         0
(600000, 610000]         0
(610000, 620000]         0
(630000, 640000]         0
(650000, 660000]         0
(660000, 670000]         0
(670000, 680000]         0
(680000, 690000]         0
(710000, 720000]         0
(490000, 500000]         0
Name: Income_Bucket, Length: 99, dtype: int64

In [58]:
cust_data['Deciles']=pd.qcut(cust_data['MonthlyIncome'],10,labels=range(1,11,1))

In [59]:
cust_data.head(10)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD,Income_Bucket,Deciles
0,83236,0,0.311726,0,0.296409,11500.0,12,0,3,0,0,"(10000, 20000]",9.0
1,2503,0,0.124988,0,0.115903,14166.0,13,0,1,0,0,"(10000, 20000]",10.0
2,137013,0,0.060258,0,0.515147,6733.0,7,0,3,0,0,"(0, 10000]",7.0
3,51306,0,0.064322,0,0.165127,13316.0,10,0,1,0,0,"(10000, 20000]",10.0
4,71937,0,0.211186,0,0.022283,2557.0,3,0,0,0,0,"(0, 10000]",2.0
5,89149,0,0.056599,0,1482.000000,NaN,5,0,1,0,0,NaN,NaN
6,140279,0,0.137483,0,0.019196,5000.0,5,0,0,0,0,"(0, 10000]",5.0
7,123541,0,0.285436,0,0.346093,7000.0,13,0,1,0,0,"(0, 10000]",7.0
8,47756,0,0.086546,0,0.316799,11833.0,3,0,1,0,0,"(10000, 20000]",10.0
9,112237,0,0.031186,0,84.000000,NaN,10,0,0,0,0,NaN,NaN

In [60]:
cust_data.sort_values(by='MonthlyIncome',ascending=True).head(5)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD,Income_Bucket,Deciles
110853,112187,0,1.116628,2,1160.0,0.0,5,0,0,0,2,NaN,1
118714,55220,0,0.676640,0,723.0,0.0,6,0,0,0,0,NaN,1
118679,130454,0,0.293505,0,1271.0,0.0,10,0,0,0,0,NaN,1
118610,113489,0,1.000000,0,0.0,0.0,0,0,0,0,0,NaN,1
118566,10294,0,0.063612,0,3523.0,0.0,11,0,1,0,0,NaN,1

In [62]:
cust_data.sort_values(by=['MonthlyIncome','DebtRatio'],ascending=[False,True]).head(10)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD,Income_Bucket,Deciles
99668,73764,0,0.007328,0,0.001470,3008750.0,10,0,1,0,0,NaN,10
142534,137141,0,0.000000,0,0.002776,1794060.0,15,0,1,0,0,NaN,10
113405,111366,0,0.163856,0,0.004013,1560100.0,12,0,4,0,0,NaN,10
115031,50641,0,0.469025,1,0.004537,1072500.0,9,0,2,0,1,NaN,10
139394,122544,0,0.041599,0,0.000147,835040.0,8,0,0,0,0,"(830000, 840000]",10
129123,123292,0,0.226333,1,0.005570,730483.0,23,0,1,0,1,"(730000, 740000]",10
21064,93565,0,0.071628,0,0.008268,702500.0,12,0,4,0,0,"(700000, 710000]",10
96933,96550,0,0.064155,0,0.003698,699530.0,11,0,2,0,0,"(690000, 700000]",10
2397,119137,0,0.151329,0,0.001313,649587.0,8,0,0,1,1,"(640000, 650000]",10
86923,37079,0,0.000000,0,0.000000,629000.0,3,0,0,0,0,"(620000, 630000]",10

In [63]:
type(cust_data['No_of_30_59_DPD'])

pandas.core.series.Series

In [66]:
cust_data['No_of_30_59_DPD']=cust_data['No_of_30_59_DPD'].astype=('int64')

In [67]:
cust_data.head(5)

,ID,SeriousDlqin2yrs,RevolvingUtilization,No_of_30_59_DPD,DebtRatio,MonthlyIncome,No_Of_OpenCreditLines,No_of_90_DPD,No_of_RealEstateLoans,No_of_60_89_DPD,No_of_30plusDPD,Income_Bucket,Deciles
0,83236,0,0.311726,int64,0.296409,11500.0,12,0,3,0,0,"(10000, 20000]",9
1,2503,0,0.124988,int64,0.115903,14166.0,13,0,1,0,0,"(10000, 20000]",10
2,137013,0,0.060258,int64,0.515147,6733.0,7,0,3,0,0,"(0, 10000]",7
3,51306,0,0.064322,int64,0.165127,13316.0,10,0,1,0,0,"(10000, 20000]",10
4,71937,0,0.211186,int64,0.022283,2557.0,3,0,0,0,0,"(0, 10000]",2